<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transiutional//EN" "http://www.w3.org/TR/xhtml1/dtd/xhtml1-transitional.dtd" >
<html>
    <head>
        <meta charset="utf-8" />
        <script src="vue.js" type="text/javascript" harset="utf-8"></script>
    </head>
    <body>
        <div id="app">
            {{message}}
          </div>

          <div id="app-2">
            <span v-bind:title="message">
              鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
          </div>

          <div id="app-3">
            <p v-if="seen">现在你看到我了</p>
          </div>

          <div id="app-4">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
          </div>

          <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">反转消息</button>
          </div>
          <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
          </div>

          <div id="example">
              <p>Original message: "{{message}}"</p>
              <p>Computed reversed message: "{{reversedMessage}}"</p>
          </div>

          <div id="todo-list-example">
            <form v-on:submit.prevent="addNewTodo">
              <label for="new-todo">Add a todo</label>
              <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="E.g. Feed the cat"
              >
              <button>Add</button>
            </form>
            <ul>
              <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
              ></li>
            </ul>
          </div>
          <script src="test.js" type="text/javascript"></script>
    </body>
</html>